.App {
  text-align: center;
  background: linear-gradient(
    145deg,
    rgb(139, 1, 139),
    rgb(239, 137, 154),
    rgb(36, 36, 247)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
